In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [31]:
data = pd.read_csv("covid19indiaapi.csv")
data

,cases_time_series__dailyconfirmed,cases_time_series__dailydeceased,cases_time_series__dailyrecovered,cases_time_series__date,cases_time_series__totalconfirmed,cases_time_series__totaldeceased,cases_time_series__totalrecovered,statewise__active,statewise__confirmed,statewise__deaths,...,tested__testedasof,tested__testpositivityrate,tested__testsconductedbyprivatelabs,tested__testsperconfirmedcase,tested__testspermillion,tested__totalindividualstested,tested__totalpositivecases,tested__totalrtpcrtests,tested__totalsamplestested,tested__updatetimestamp
0,1,0,0,30 January,1,0,0,945551.0,6397896.0,99833.0,...,13/03/2020,1.20%,NaN,83.33,5.0,5900.0,78,NaN,6500.0,13/03/2020 00:00:00
1,0,0,0,31 January,1,0,0,259006.0,1400922.0,37056.0,...,18/03/2020,1.14%,NaN,87.50,10.0,12235.0,150,NaN,13125.0,18/03/2020 18:00:00
2,0,0,0,01 February,1,0,0,57858.0,700235.0,5869.0,...,19/03/2020,1.26%,NaN,79.26,10.0,12426.0,168,NaN,13316.0,19/03/2020 10:00:00
3,1,0,0,02 February,2,0,0,46369.0,603290.0,9586.0,...,19/03/2020,1.28%,NaN,77.88,11.0,13285.0,182,NaN,14175.0,19/03/2020 18:00:00
4,1,0,0,03 February,3,0,0,110412.0,611837.0,8994.0,...,20/03/2020,1.43%,NaN,69.79,11.0,13486.0,206,NaN,14376.0,20/03/2020 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,82770,1040,74691,27 September,6073359,94990,5013371,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,69668,775,85194,28 September,6143027,95765,5098565,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,80500,1178,86150,29 September,6223527,96943,5184715,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,86748,1179,85274,30 September,6310275,98122,5269989,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,81693,1096,78646,01 October,6391968,99218,5348635,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data.columns

Index(['cases_time_series__dailyconfirmed', 'cases_time_series__dailydeceased',
       'cases_time_series__dailyrecovered', 'cases_time_series__date',
       'cases_time_series__totalconfirmed', 'cases_time_series__totaldeceased',
       'cases_time_series__totalrecovered', 'statewise__active',
       'statewise__confirmed', 'statewise__deaths',
       'statewise__deltaconfirmed', 'statewise__deltadeaths',
       'statewise__deltarecovered', 'statewise__lastupdatedtime',
       'statewise__migratedother', 'statewise__recovered', 'statewise__state',
       'statewise__statecode', 'statewise__statenotes',
       'tested__dailyrtpcrtests', 'tested__individualstestedperconfirmedcase',
       'tested__positivecasesfromsamplesreported',
       'tested__samplereportedtoday', 'tested__source', 'tested__source1',
       'tested__source3', 'tested__testedasof', 'tested__testpositivityrate',
       'tested__testsconductedbyprivatelabs', 'tested__testsperconfirmedcase',
       'tested__testspermillion', 'tested__totalindividualstested',
       'tested__totalpositivecases', 'tested__totalrtpcrtests',
       'tested__totalsamplestested', 'tested__updatetimestamp'],
      dtype='object')

In [33]:
data.tail()

,cases_time_series__dailyconfirmed,cases_time_series__dailydeceased,cases_time_series__dailyrecovered,cases_time_series__date,cases_time_series__totalconfirmed,cases_time_series__totaldeceased,cases_time_series__totalrecovered,statewise__active,statewise__confirmed,statewise__deaths,...,tested__testedasof,tested__testpositivityrate,tested__testsconductedbyprivatelabs,tested__testsperconfirmedcase,tested__testspermillion,tested__totalindividualstested,tested__totalpositivecases,tested__totalrtpcrtests,tested__totalsamplestested,tested__updatetimestamp
241,82770,1040,74691,27 September,6073359,94990,5013371,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,69668,775,85194,28 September,6143027,95765,5098565,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,80500,1178,86150,29 September,6223527,96943,5184715,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,86748,1179,85274,30 September,6310275,98122,5269989,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,81693,1096,78646,01 October,6391968,99218,5348635,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data.describe()

,cases_time_series__dailyconfirmed,cases_time_series__dailydeceased,cases_time_series__dailyrecovered,cases_time_series__totalconfirmed,cases_time_series__totaldeceased,cases_time_series__totalrecovered,statewise__active,statewise__confirmed,statewise__deaths,statewise__deltaconfirmed,...,statewise__recovered,tested__dailyrtpcrtests,tested__individualstestedperconfirmedcase,tested__positivecasesfromsamplesreported,tested__testsconductedbyprivatelabs,tested__testsperconfirmedcase,tested__testspermillion,tested__totalindividualstested,tested__totalrtpcrtests,tested__totalsamplestested
count,246.000000,246.000000,246.000000,2.460000e+02,246.000000,2.460000e+02,38.000000,3.800000e+01,38.000000,38.000000,...,3.800000e+01,54.000000,39.000000,15.000000,3.000000,39.000000,203.000000,31.000000,5.400000e+01,2.030000e+02
mean,25983.609756,403.325203,21742.418699,1.171261e+06,21956.617886,8.721714e+05,49765.842105,3.367314e+05,5254.368421,312.421053,...,2.816628e+05,423810.500000,30.846410,761.800000,2543.000000,38.720000,12946.295567,142106.580645,2.519602e+07,1.725609e+07
std,32039.848994,429.074590,29410.002790,1.763241e+06,29011.162829,1.409445e+06,155995.861970,1.045475e+06,16948.432820,1146.224015,...,8.736370e+05,90642.878409,24.087042,537.133689,1759.849709,19.593223,16119.859456,164098.516131,6.739163e+06,2.148620e+07
min,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000e+00,178394.000000,0.000000,285.000000,1334.000000,22.740000,5.000000,5900.000000,1.437770e+07,6.500000e+03
25%,337.750000,7.750000,22.750000,1.741000e+03,48.500000,1.547500e+02,2013.500000,1.029275e+04,60.500000,0.000000,...,7.447000e+03,396919.750000,21.395000,320.000000,1533.500000,23.925000,808.000000,16065.000000,1.934863e+07,1.076842e+06
50%,8450.000000,222.000000,4346.500000,1.945105e+05,5506.500000,9.380300e+04,12987.000000,9.990750e+04,746.500000,0.000000,...,7.858000e+04,449967.000000,22.790000,575.000000,1733.000000,26.100000,5355.000000,24254.000000,2.507050e+07,7.137716e+06
75%,52623.750000,800.500000,39622.500000,1.738406e+06,37206.500000,1.134064e+06,30006.000000,2.020838e+05,3172.250000,0.000000,...,1.696112e+05,474930.000000,42.840000,1044.000000,3147.500000,45.040000,19829.500000,244078.000000,3.088529e+07,2.643049e+07
max,97860.000000,2004.000000,102070.000000,6.391968e+06,99218.000000,5.348635e+06,945551.000000,6.397896e+06,99833.000000,5936.000000,...,5.351594e+06,591125.000000,81.570000,2154.000000,4562.000000,87.500000,57557.000000,525667.000000,3.708508e+07,7.671773e+07

In [36]:
data["cases_time_series__totalrecovered"].sum()

214554162

# relating the variables with scatterplots

In [ ]:
sns.relplot(x="cases_time_series__dailyconfirmed", y="cases_time_series__dailyrecovered", hue="cases_time_series__totalconfirmed",data=data)
# sns.pairplot(data)